.launch {
  background-color: white;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 4px;
}
@media (min-width: 701px) and (max-width: 1024px) {
  .launch {
    flex: 0 0 36%;
    margin: 0rem 1.6rem 1.6rem 0rem;
  }
  .launch:nth-child(even) {
    margin: 0rem 0rem 1.6rem 0rem;
  }
}
@media (min-width: 1025px) {
  .launch {
    flex: 0 0 18%;
    margin: 0rem 1.6rem 1.6rem 0rem;
  }
  .launch:nth-child(4n + 0) {
    margin: 0rem 0rem 1.6rem 0rem;
  }
}
.launch__image-wrapper {
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 1.2rem;
}
.launch__image-wrapper img {
  width: 100%;
}
.launch__title {
  color: #444a96;
  font-size: 16px;
}
.launch-prop__item {
  margin-top: 1.2rem;
  display: flex;
}
.launch-prop__item-list.launch-prop__item {
  display: block;
}

.launch-prop__item-label {
  color: black;
  font-weight: bold;
  padding-right: 4px;
  flex: 0 0 50%;
}
.launch-prop__item-value {
  color: #444a96;
  flex: 0 0 50%;
}
.launch-prop__item-value li {
  margin: 1rem 0 0 1.6rem;
}
li.launch-prop__item-msg {
  margin: 1rem 0 0 0.6rem;
  list-style-type: none;
}
